.button-base {
  display: block;
  width: max-content;
  padding: 14px 34px;
  font-size: 16px;
  line-height: 24px;
  color: @dark-base;
  text-decoration: none;
  border: 1px solid @dark-base;
  border-radius: 4px;

  &--fill {
    background-color: @yellow;
    border-color: @yellow;
  }

  &--darkFill {
    color: @white;
    background-color: @dark-base;

    @media (max-width: 1220px) {
      padding: 10px 15px;
    }

    @media (max-width: 864px) {
      padding: 7px 10px;
    }

    @media (max-width: 459px) {
      font-size: 13px;
    }
  }
}
