.button-toggle {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.button-toggle__icon {
  stroke: @black;
  stroke-width: 2px;

  &--opened {
    transform: scaleY(-1);
  }
}
