.features {
  padding-top: 93px;
  padding-bottom: 97px;
  padding-left: 122px;
  padding-right: 122px;
  background-color: @beige;
  background-image: url("../img/target.svg");
  background-size: image-size("../img/target.svg");
  background-position: 120px 380px;
  background-repeat: no-repeat;
}

.features__title {
  margin: 0;
  margin-bottom: 118px;
  padding-right: 150px;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.6px;
}

.features__list {
  margin-left: 50.8%;
  border-top: 2px solid @coral;
}
