.integrations {
  padding-top: 36px;
  background-image: url("../img/integrations-bg@1x.png");
  background-size: image-size("../img/integrations-bg@1x.png");
  background-position: right calc(50% + 17px);
  background-repeat: no-repeat;
}

.integrations__description {
  width: calc(63% - @margin-edge-big);
}

.integrations__description-title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.34px;
}

.integrations__description-text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 28px;
  color: @dark-add;
}
