.page-header {
  display: flex;
  align-items: center;
  padding: 5px 33px;
  padding-bottom: 7px;
  background-color: @white;
  box-sizing: border-box;
}

.page-header__logo {
  display: block;
  margin-right: 30px;
  padding-bottom: 0;
  text-decoration: none;
}

.page-header__logo-image {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 0;
  fill: @black;
}

.page-header__logo-text {
  position: relative;
  top: -9px;
  font-size: 12px;
  line-height: 16px;
  color: @black;
}

.page-header__nav {
  margin-left: auto;
  margin-right: auto;
}

.page-header__user-nav {
  margin-left: 30px;
}
