.promo-bottom {
  min-height: 422px;
  margin-bottom: -1px;
  color: @white;
  text-align: center;
  background-color: @dark-base;
}

.promo-bottom__content-container {
  margin: 0;
  margin-left: @margin-edge-small;
  margin-right: @margin-edge-small;
  padding-top: 55px;
  padding-bottom: 95px;
  padding-left: 27%;
  padding-right: 27%;
  border-bottom: 1px solid @dark-add;
}

.promo-bottom__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.42px;
}

.promo-bottom__description {
  margin: 0;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 28px;
}

.promo-bottom__startFree {
  margin: 0 auto;
}
