.why-sprig {
  margin-bottom: 160px;
}

.why-sprig__description {
  min-height: 494px;
  margin-left: @margin-edge-small;
  margin-right: @margin-edge-small;
  margin-bottom: 192px;
  padding-top: 115px;
  padding-left: 48.5%;
  padding-right: 10%;
  background-color: @green;
  background-image: url("../img/cyclist.svg");
  background-size: image-size("../img/cyclist.svg");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-sizing: border-box;
}

.why-sprig__description-title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.34px;
}

.why-sprig__description-text {
  margin: 0;
}

.why-sprig__possibility {
  margin-bottom: 103px;
}

.why-sprig__possibility-title {
  margin: 0;
  margin-bottom: 57px;
  padding: 0 25%;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.34px;
  text-align: center;
}

.why-sprig__possibility-image {
  text-align: center;
}

.why-sprig__startFree {
  margin: 0 auto;
}
