@mobile-width: 320px;
@desktop-width: 1440px;
@desktop-width-max: 1440px;

@padding-desktop: 0;

@font-family-base: "Roboto", "Arial", sans-serif;
@font-style-base: normal;
@font-weight-base: 400;

@margin-edge-big: 147px;
@margin-edge-small: 32px;

@white: #ffffff;
@black: #000000;

@bg-color-body: @white;
@dark-base: #0b2330;
@dark-add: #375361;
@dark-2f: #2f3f48;
@grey-6a: #6a7981;
@grey-61: #61757e;
@grey-94: #94a0a4;
@grey-c3: #c3cacd;
@grey-e7: #e7eaeb;
@beige: #f2ede7;
@yellow: #f9c600;
@orange: #fe9f28;
@coral: #c9316f;
@green: #51cebc;
@violet: #bd78f0;

