.page-container {
  display: flex;
  flex-direction: column;
  width: @desktop-width;
  height: 100vh;
  margin: 0 auto;
  padding-left: @padding-desktop;
  padding-right: @padding-desktop;
  box-sizing: border-box;
}
